absl-py==2.1.0
accelerate==0.34.2
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
apturl==0.5.2
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
Automat==22.10.0
backcall==0.2.0
bcrypt==3.1.7
bitsandbytes==0.43.3
blinker==1.8.2
blis==0.7.11
boto3==1.34.134
botocore==1.34.134
Brlapi==0.7.0
cachetools==5.3.3
catalogue==1.0.2
certifi==2024.2.2
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.3
comm==0.2.2
command-not-found==0.3
constantly==23.10.4
cryptography==42.0.5
cssselect==1.2.0
cupshelpers==1.0
cymem==2.0.8
Cython==3.0.10
dataclasses-json==0.6.7
datasets==3.0.0
dbus-python==1.2.16
debugpy==1.8.2
decorator==5.1.1
defer==1.0.6
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
distro-info==0.23+ubuntu1.1
docstring_parser==0.16
duplicity==0.8.12.0
elastic-transport==8.15.1
elasticsearch==8.15.1
en-core-web-sm==2.2.0
entrypoints==0.3
eval_type_backport==0.2.0
exceptiongroup==1.2.0
executing==2.0.1
fasteners==0.14.1
filelock==3.13.1
Flask==3.0.3
flatbuffers==24.3.7
frozenlist==1.4.1
fsspec==2024.6.1
future==0.18.2
gast==0.4.0
gguf==0.10.0
google-auth==2.29.0
google-pasta==0.2.0
greenlet==0.4.15
grpcio==1.62.1
h11==0.14.0
h5py==3.10.0
httpcore==1.0.5
httplib2==0.14.0
httpx==0.27.2
huggingface-hub==0.23.4
hyperlink==21.0.0
idna==2.8
importlib_metadata==7.1.0
incremental==22.10.0
iniconfig==2.0.0
ipykernel==6.29.4
ipython==8.12.3
ipywidgets==8.1.5
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jiter==0.5.0
jmespath==1.0.1
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
keras==2.13.1
keyring==18.0.1
langsmith==0.1.120
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
libclang==18.1.1
llama_cpp_python==0.3.1
lockfile==0.12.2
louis==3.12.0
lxml==5.1.0
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib-inline==0.1.7
mdurl==0.1.2
monotonic==1.5
mpmath==1.3.0
msgpack==0.6.2
multidict==6.1.0
multiprocess==0.70.16
murmurhash==1.0.10
mypy-extensions==1.0.0
nest-asyncio==1.6.0
netifaces==0.10.4
networkx==3.1
numexpr==2.8.4
numpy==1.24.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.6.68
nvidia-nvtx-cu12==12.1.105
oauthlib==3.1.0
olefile==0.46
ollama==0.3.3
openai==1.46.0
opt-einsum==3.3.0
orjson==3.10.7
outcome==1.3.0.post0
packaging==24.1
pandas==2.0.3
paramiko==2.6.0
parsel==1.9.0
parso==0.8.4
peft==0.12.0
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0
pipx==0.12.3.1
plac==1.1.3
platformdirs==4.2.2
pluggy==1.5.0
preshed==3.0.9
prompt_toolkit==3.0.47
Protego==0.3.0
protobuf==4.25.5
psutil==6.0.0
pure-eval==0.2.2
pyarrow==17.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycairo==1.16.2
pycparser==2.21
pycups==1.9.73
pydantic==2.9.1
pydantic_core==2.23.3
PyDispatcher==2.0.7
Pygments==2.18.0
PyGObject==3.36.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pynvim==0.4.1
pyOpenSSL==24.1.0
pyRFC3339==1.1
PySocks==1.7.1
pytest==8.2.2
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.9.0.post0
python-debian==0.1.36+ubuntu1.1
pytz==2024.2
pyxdg==0.26
PyYAML==5.3.1
pyzmq==26.0.3
queuelib==1.6.2
regex==2024.5.15
reportlab==3.5.34
requests==2.32.3
requests-file==2.0.0
requests-oauthlib==1.4.0
requests-unixsocket==0.2.0
rich==13.8.1
rsa==4.9
s3transfer==0.10.2
safetensors==0.4.3
Scrapy==2.11.1
scrapy-selenium==0.0.7
SecretStorage==2.3.1
selenium==4.18.1
sentencepiece==0.2.0
service-identity==24.1.0
shtab==1.7.1
simplejson==3.16.0
six==1.14.0
sniffio==1.3.1
sortedcontainers==2.4.0
speedtest-cli==2.1.3
SQLAlchemy==2.0.34
srsly==1.0.7
ssh-import-id==5.10
stack-data==0.6.3
suffix-tree==0.0.7
sympy==1.13.2
systemd-python==234
tenacity==8.5.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.4.0
thinc==7.4.6
tldextract==5.1.2
tokenizers==0.20.3
tomli==2.0.1
torch==2.2.2+cpu
tornado==6.4.1
tqdm==4.66.4
traitlets==5.14.3
trio==0.25.0
trio-websocket==0.11.1
triton==3.0.0
trl==0.10.1
Twisted==24.3.0
typing-inspect==0.9.0
typing_extensions==4.11.0
tyro==0.8.10
tzdata==2024.1
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36
unattended-upgrades==0.1
urllib3==1.26.19
usb-creator==0.3.7
w3lib==2.1.2
wadllib==1.3.3
wasabi==0.10.1
wcwidth==0.2.13
Werkzeug==3.0.1
widgetsnbextension==4.0.13
wrapt==1.16.0
wsproto==1.2.0
xformers==0.0.28.post1
xkit==0.0.0
xxhash==3.5.0
yarl==1.11.1
zipp==3.18.1
zope.interface==6.2
zss==1.2.0
